<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Emylines</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eproject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="@ViewData["CarStyle"]" />
    <link rel="stylesheet" href="@ViewData["Style"]" />
    <script src="~/js/site.js" type="module"></script>
    <script src="~/lib/plugins/gsap.js"></script>
    <script src="@ViewData["Script"]" defer type="module"></script>
</head>
<body>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://kit.fontawesome.com/3691b5190a.js" crossorigin="anonymous"></script>
    <script src="@ViewData["Jquery"]"></script>
    <script src="@ViewData["CarScript"]"></script>
</body>
</html>